*{margin: 0;}

header {
    background-color: #3626A5;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

body {
    background-color: #e3e3e3;
}

.h1_page {
    text-align: center;
    margin-top: 20px;
    width: 288px;
    margin-left: 44px;
    margin-right: 44px;
    font-size: 32px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}

.block-text {
    width: 300px;
    height: 172px;
    background-color: #3626a5;
    text-align: center;
    margin-top: 73px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block-text p {
    font-size: 20px;
    padding-top: 29px;
    color: #ffffff;
}

.scroll-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.info{
    margin-top: 62px;
    margin-left: 40px;
    margin-bottom: 25px;
}

.info h1 {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold-700;
}

.info p {
    font-size: 16px;
    margin-bottom: 25px;
}

.info-icon-text {
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.info_date {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.info_date p {

    padding-top: 18px;
    margin-right: 15px;
}

.info_lieu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.info_lieu p {

    padding-top: 8px;
    margin-left: 8px;
}

.info_when {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.info_when p {
    padding-top: 30px;
    margin-left: 8px;
}

.container-info {
    width: 320px;
    height: 242px;
    background-color: #F0B27A;
    text-align: center;
    margin-top: 73px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info_tarif {
    display: flex;
    justify-content: space-between;
    margin-top: -25px;
    width: 320px;
    weight: 243px;
    background-color: #F0B27A;
}

.info_tarif p {
    padding-top: 80px;
    margin-left: 8px;
}

.composant {
    margin-top: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.composant-2 {
    margin-top: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.composant-3 {
    margin-top: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #000000;
    width: 370px;
}

.custom-footer {
    background-color: #000;
    /* Couleur de fond du footer */
    color: #fff;
    /* Couleur du texte */
}

.separator {
    height: 2px;
    background-color: #fff;
    /* Couleur du séparateur */
    margin: 10px 0;
}

.h3_footer {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: bold-700;
}

.h4_footer {
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: bold-700;
}

.paragraphe_footer {
    font-size: 14px;
    margin-bottom: 25px;
}

.logo_footer {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.p_center {
    display: block;
    text-align: center;
    margin-top: 20px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.block_img_text {
    display: flex;
    margin-top: 20px;
}